<footer class="opacity-80 rounded-lg m-4 max-w-[800px] mx-auto backdrop-blur-lg">
  <div
    class="w-full mx-auto max-w-screen-xl p-4 flex flex-col md:flex-row-reverse items-center justify-between gap-5"
  >
    <ul
      class="flex flex-wrap items-center mt-3 text-sm font-medium text-gray-800 sm:mt-0"
    >
      <li>
        <a href="#experience" class="hover:underline me-4 md:me-6"
          >Experiencia</a
        >
      </li>

      <li>
        <a href="#projects" class="hover:underline me-4 md:me-6">Proyectos</a>
      </li>

      <li>
        <a href="#about" class="hover:underline me-4 md:me-6">Sobre Mi</a>
      </li>

      <li>
        <a href="#contact" class="hover:underline">Contactame</a>
      </li>
    </ul>

    <span class="text-sm text-gray-800 sm:text-center">© 2025 Kevin Sarria</span>
  </div>
</footer>
