<header class="flex justify-center py-3 w-full mx-auto">
    <nav class="flex flex-row gap-x-4 flex-wrap sm:gap-x-10">
        <a class="text-gray-600 hover:text-indigo-500 hover:cursor-pointer" href="/">Inicio</a>
        <a class="text-gray-600 hover:text-indigo-500 hover:cursor-pointer" href="#experience">Experiencia</a>
        <a class="text-gray-600 hover:text-indigo-500 hover:cursor-pointer" href="#projects">Proyectos</a>
        <a class="text-gray-600 hover:text-indigo-500 hover:cursor-pointer" href="#about">Sobre mi</a>
        <a class="text-gray-600 hover:text-indigo-500 hover:cursor-pointer" href="#contact">Contactame</a>
    </nav>
</header>